<div style="display: flex;">
    <div class="flex-box-outer p-3">
        <div *ngIf="markersData.length" class="flex-box-inner">
            <ng-container *ngFor="let drone of markersData; let i=index;">
                <div class="icon-cont">
                    <span class="material-icons" style="cursor: pointer;" (click)="locateOnMap(i)">location_on</span>
                    <button type="button" class="btn btn-outline-primary" (click)="togglePause(i)"
                        *ngIf="isStarted[i] && !isFinished[i]">Drone {{i}} - {{ isPause[i] ? 'Resume' :
                        "Pause"}}</button>
                    <button type="button" class="btn btn-outline-secondary" disabled *ngIf="isFinished[i]">Drone {{i}}
                        Finished</button>
                </div>
                <ng-container *ngIf="!isStarted[i]">
                    <button type="button" class="btn btn-outline-primary" (click)="moveMarker(i)">Drone {{i}} -
                        Start</button>
                    <input type="color" id="colorPicker" class="form-control" [(ngModel)]="selectedColor" />
                </ng-container>
                <p *ngIf="!isStarted[i]">Select Color Before Starting</p>
            </ng-container>
        </div>
        <div class="input-group add-drone">
            <input type="file" class="fileInput" id="fileInput" style="display: none;" (change)="handleFile($event)">
            <label class="input-group-text" for="fileInput">Add Drone File</label>
            <a href="/assets/sample-drone.json" download="sample-drone.json">Download Sample File</a>
            <div style="width: 100%;">
                <textarea style="width: inherit;" placeholder="Type here..." [(ngModel)]="textInput"></textarea>
                <div style="font-size: small;color: gray;">Type here with comman seprated format, with every marker on seprate line as,
                    <br>26.3299, 80.3319, 0
                    <br>26.4199, 80.2319, 10000
                </div>
                <div class="text-error" *ngIf="textErrorMessage">{{textErrorMessage}}</div>
            </div>

            <button type="button" class="btn btn-outline-primary" (click)="addTextInput()" *ngIf="textInput"
                style="text-align: center;">Add Drone</button>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="wantMarkers"
                    [(ngModel)]="wantMarkers">
                <label class="form-check-label" for="wantMarkers">Want Markers Drone</label>
            </div>
        </div>
        <p style="font-size: small;">NOTE: if you want markers on path turn on toggle before adding file</p>
    </div>
    <div id="map-box-container" class="main-container" style="height: 100vh; width: 100vw;"></div>
</div>